
body {
    background-color: white;
    padding: 0;
    margin: 0;
}

.topnav {
    background-color: navy;
    box-shadow: 0 0 4px gray, 0 0 8px gray;
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 60px;
    position: sticky;
    z-index: 2000;
}

.topnav a {
    font-family:'Times New Roman', Times, serif;
    font-size: 23px;
    color: white;
    padding: 17px 17px;
    text-decoration: none;
    display: inline-block;
}

.dropdown {
    position: relative;
    float: left;
}

.dropdown-content {
    display: none;
    background-color: white;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 170px;
    padding: 40px;
    top: 100%;
    left: 0;
    position: absolute;
}

.dropdown-content a {
    color: black;
    font-size: 19px;
    white-space: nowrap;
}

.dropdown-content:hover a {
    color: navy;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.card {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    align-items: center;
    text-align: center;
    width: 420px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: transform 0.8secs;
    transform-style: preserve-3d;
    position: relative;
    right: -200px;
    cursor: pointer;
}

.flash_card_flipped {
    transform: rotateY(180deg);
}

.front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-card {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    align-items: center;
    text-align: center;
    width: 420px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}




.back-card {

    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    align-items: center;
    text-align: center;
    width: 420px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: transform 0.8secs;
}

.card-2 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    align-items: center;
    text-align: center;
    width: 420px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    bottom: -200px;
    right: -200px;
    cursor: pointer;
}

.card-3 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    align-items: center;
    text-align: center;
    width: 420px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    bottom: -90px;
    right: -200px;
    cursor: pointer;
}

.card-4 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    align-items: center;
    text-align: center;
    width: 420px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    bottom: -120px;
    right: -200px;
    cursor: pointer;
}