
body {
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.fa-grip-lines {
       color: white;
       font-size: 44px;
       position: relative;
       bottom: -30px;
       right: -1100px;
       cursor: pointer;
}

.fa-caret-down {
    color: white;
    font-size: 35px;
    position: relative;
    bottom: -5px;
    right: -10px;
}

.fa-caret-left {
    font-size: 50px;
}

.fa-caret-right {
    font-size: 50px;
}


h1 {
    font-family: 'Roboto', Times, serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center;

}

h2 {
    font-family: 'Roboto', Times, serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    text-align: center;
}

.general {
    position: relative;
    left: -60px;
}

.settings-theme {
    position: relative;
    top: -83px;
}

.list-choice {
        list-style: none;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        right: -210px;
        bottom: -160px;
}

.rank-choice {
     list-style: none;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        right: -530px;
        top: -380px;
}


.rank-choice_2 {
     list-style: none;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        right: -890px;
        top: -880px;
}

.topnav {
    background-color: navy;
    display: flex;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    overflow: visible;
    padding: 0;
    margin: 0;
    line-height: 60px;
    position: sticky;
    z-index: 2000;
}

.topnav a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 23px;
    padding: 17px 17px;
    text-decoration: none;
    display: block;

}

.setting-dropdown  {
    float: right;
    position: relative;
}

.setting-dropdown-content {
    display: none;
    background-color: white;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 170px;
    padding: 40px;
    top: 100%;
    left: 0;
    position: absolute;
}

.setting-dropdown:hover .setting-dropdown-content {
      display: block;

}

.dropdown {
    float: left;
    position: relative;
}

.dropdown-content a {
    color: black;
    font-size: 19px;
    float: left;
    white-space: nowrap;
}

.dropdown-content:hover a {
    color: blue;
}

.dropdown-content {
    display: none;
    background-color: white;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 170px;
    padding: 30px;
    top: 100%;
    left: 0;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.blank {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: none;
    appearance: none;
    position: relative;
    top: -48px;
    right: -870px;
}

.blank_1 {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: none;
    appearance: none;
    position: relative;
    bottom: -48px;
    right: -420px;

}

.blank_2 {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: none;
    appearance: none;
    position: relative;
    bottom: -48px;
    right: -590px;
}

.btn {
    background-color: navy;
    box-shadow: 0 0 4px gray, 0 0 2px gray;
    color: white;
    font-size: 19px;
    width: 290px;
    padding: 20px;
    border-radius: 22px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    right: -670px;
}

.btn-Q1 {
    background-color: white;
    box-shadow: 0 0 4px gray, 0 0 2px gray;
    color: navy;
    font-size: 19px;
    width: 290px;
    padding: 20px;
    border: 2px solid navy;
    border-radius: 22px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    bottom: -300px;
    right: -570px;

}

.btn-Q1:hover {
    color: white;
    background-color: navy;
}

.card {
    background-color: lightgray;
    box-shadow: 0 0 4px gray,  0 0 4px gray;
    width: 310px;
    padding: 90px;
    border-radius: 32px;
    position: relative;
    right: -220px;
    bottom: -140px;
}

.card-2 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray,  0 0 4px gray;
    width:310px;
    padding: 90px;
    border-radius: 32px;
    position: relative;
    right: -560px;
    top: -390px;
}

.card-3 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray,  0 0 4px gray;
    width: 320px;
    padding: 90px;
    border-radius: 32px;
    position: relative;
    right: -890px;
    top: -900px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

