
body {
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.topnav {
background-color: navy;
box-shadow: 0 0 4px gray, 0 0 4px gray;
display: flex;
overflow: visible;
margin: 0;
padding: 0;
align-items: center;
line-height: 60px;
position: sticky;
z-index: 2000;
}

.topnav a {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 23px;
    padding: 17px 17px;
    float: left;
    text-decoration: none;
}

.dropdown {
    position: relative;
    float: left;
}

.dropdown-content {
    background-color: white;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 160px;
    padding: 30px;
    top: 100%;
    left: 0;
    position: absolute;
    display: none;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.header-1 {
    position: relative;
    top: -950px;
    right: -1000px;
}

.header-2 {
    position: relative;
    top: -750px;
    right: -1000px;
}

.header-3 {
    position: relative;
    top: -650px;
    right: -1000px;
}

.header-4 {
    position: relative;
    top: -550px;
    right: -1000px;
}

.header-5 {
   position: relative;
   top: -450px;
   right: -1000px;
}

.drag-slot {
    background-color: transparent;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 90px;
    border-radius: 32px;
    border: 2px solid gray;
    position: relative;
    left: -90px;
}

.drag-slot-2 {
    background-color: transparent;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 90px;
    border-radius: 32px;
    border: 2px solid gray;
    position: relative;
    left: -90px;
}

.drag-slot-3 {
    background-color: transparent;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 90px;
    border-radius: 32px;
    border: 2px solid gray;
    position: relative;
    left: -90px;
}

.drag-slot-4 {
    background-color: transparent;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 90px;
    border-radius: 32px;
    border: 2px solid gray;
    position: relative;
    left: -90px;
}

.drag-slot-5 {
    background-color: transparent;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 90px;
    border-radius: 32px;
    border: 2px solid gray;
    position: relative;
    left: -90px;
}

.flex-box {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 50px;
    border-radius: 32px;
     position: relative;
    bottom: -110px;
    cursor: pointer;
}

.flex-box-2 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 50px;
    border-radius: 32px;
    position: relative;
    bottom: -150px;
    cursor: pointer;
}

.flex-box-3 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 50px;
    border-radius: 32px;
    position: relative;
    bottom: -180px;
    cursor: pointer;
}

.flex-box-4 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 50px;
    border-radius: 32px;
    position: relative;
    bottom: -190px;
    cursor: pointer;
}

.flex-box-5 {
    background-color: lightgray;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    width: 420px;
    padding: 50px;
    border-radius: 32px;
    position: relative;
    bottom: -220px;
    cursor: pointer;
}

.btn {
    background-color: navy;
    box-shadow: 0 0 4px gray, 0 0 4px gray;
    color: white;
    font-size: 19px;
    width: 270px;
    padding: 30px;
    border: 1px solid navy;
    border-radius: 22px;
    position: relative;
    top: -260px;
    right: -590px;
    cursor: pointer;
}